
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  --bg-clr: #6c00f9;
  --white: #fff;
  --primary-text-clr: #212121;
  --secondary-text-clr: #8c8c8c;
  --bg-hvr: #5803c7;
  --color2: #27374D;   
  --color3: #526D82;      
  --color4: #FF597B;       
  --color5: #f3254e;
  --color6: #62CDFF;
  --color7: #0099cc;
  --color8: #33ccff;
}

.header nav .icon {
	cursor: pointer;
	margin: 0 1.5rem;
}
.header nav .icon span {
	background: #f00;
    padding: 1px;
    border-radius: 50%;
    color: transparent;
    vertical-align: top;
    margin-left: -30px;
	font-size: 10px;
}
.header nav .icon img {
	display: inline-block;
  width: 30px;
  margin-top: 11px;
}
.header nav .icon:hover {
	opacity: .7;
}

.header nav .logo {
	flex: 1;
	margin-left: 50px;
	color: #eee;
	font-size: 20px;
	font-family: monospace;
}

.header nav .notifi-box {
	z-index: 9999;
	width: 420px;
  border-radius: 13px;
  background: white;
  opacity: 0;
  position: absolute;
  top: 84px;
  right: 60px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header nav .notifi-box h2 {
  border-radius: 13px;
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: var(--color5);
  background: white;
  text-align: center;
}
.header nav .notifi-box h2 span {
	color: #f00;
}
.header nav .notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 21px;
	margin: 10px;
	cursor: pointer;
  border-radius: 13px;
}
.header nav .notifi-item:hover {
	background-color: #eee;
}
.header nav .notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.header nav .notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.header nav .notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}
